.list-item {
  width: 40%;
}

.title {
  padding-left: 24px;
  font: var(--mat-sys-title-large);
  &:focus {
    border: 2px solid var(--mat-sys-primary);
  }

  &:active {
    border: 2px solid var(--mat-sys-primary);
  }
}