.list-item-container {
  max-width: 45%;
}

.title {
  font: var(--mat-sys-title-large);
}

$list-padding: 200px;

.systems-list-title {
  font: var(--mat-sys-title-medium);
  padding-bottom: $list-padding;
}

.notifications-list-title {
  font: var(--mat-sys-title-medium);
  padding-bottom: $list-padding;
}

.component {
  padding-left: 24px;
}

.validity-input-field {
  padding: 5px;
  border: 2px solid var(--mat-sys-primary);
  border-radius: 20px;
  font: var(--mat-sys-body-medium)
}

.datetime-field-container {
  display: flex;
}

.textarea {
  display: flex;
  flex-direction: row;
}

.description-field {
  display: flex;
  flex-direction: column;
}

.save-button-container {
  display: flex;
  justify-content: flex-end;
}

.validity-fields {
  display: flex;
  flex-direction: row;
  gap: 10px;
}