<div class="component list-item-container">
    <span class="title">{{title()}}</span>
    @if (!$loadingSoftwares()) {
    <app-loading-spinner />
    }
    @else {
    <mat-list>
        <span class="systems-list-title">SYSTEMS</span>
        @for (item of $filteredSystems | async; track $index) {
        <mat-list-item class="hoverable-list-item ">
            <div matListItemIcon style="display: flex; align-items: center; padding-right: 20px;">
                <button matIconButton (click)="copyToClipboard(item.UniqueId)">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </div>
            <span matListItemTitle>{{item.UniqueId}}</span>
            <div matListItemMeta>
                <mat-slide-toggle [checked]="item.Enabled" (change)="onSoftwareToggle($event, item)">
                </mat-slide-toggle>
            </div>
        </mat-list-item>
        }
    </mat-list>
    }
    @if (!($loadingNotifications())) {
    <app-loading-spinner />
    }
    @else {
    <span class="notifications-list-title">NOTIFICATIONS</span>
    <mat-accordion multi="true">
        @for (item of $filteredNotifications | async; track $index) {
        <mat-expansion-panel hideToggle expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>{{item.Title}}</mat-panel-title>
                <!-- <mat-icon #enableIcon [ngStyle]="{'color': item.Enabled ? 'green' : 'red'}">{{item.Enabled ? 'check' :
                    'close'}}</mat-icon> -->
                <mat-slide-toggle [checked]="item.Enabled" (click)="$event.stopPropagation()"
                    (change)="onNotificationToggle($event, item)"></mat-slide-toggle>
            </mat-expansion-panel-header>
            <div class="datetime-field-container">
                <p>Validity</p>
                <input #datetimeinput class="datetime-input-field" type="datetime-local" value="{{item.Validity}}"
                    placeholder="{{item.Validity}}">
                <div>
                    <button mat-icon-button (click)="onSavePressed($event, datetimeinput, item)">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onUndoPressed($event, datetimeinput, item)">
                        <mat-icon>undo</mat-icon>
                    </button>
                </div>

            </div>
            <mat-divider></mat-divider>
            @if(item.Body.length >= 1){
            <p>{{item.Body}}</p>
            }
            @else {
            <p>(No Description)</p>
            }
        </mat-expansion-panel>
        }
    </mat-accordion>
    }
</div>