.list-item-container {
  max-width: 550px;
}

.title {
  font: var(--mat-sys-title-large);
}

$list-padding: 200px;

.systems-list-title {
  font: var(--mat-sys-title-medium);
  padding-bottom: $list-padding;
}

.notifications-list-title {
  font: var(--mat-sys-title-medium);
  padding-bottom: $list-padding;
}

.component {
  padding-left: 24px;
  padding-bottom: 24px;
}

.validity-input-field {
  padding: 5px;
  border: 2px solid var(--mat-sys-primary);
  border-radius: 20px;
  font: var(--mat-sys-body-medium)
}

.datetime-field-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 17px 0px 17px;
}

.datetime-input-field {
  border: none;
  background-color: transparent;
  font: var(--mat-sys-body-medium);
}

.description-field {
  display: flex;
  flex-direction: column;
}
