.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-card {
  width: 500px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-fields {
  width: 490px;
}

.login-button {
  display: flex;
  justify-content: center;
}