.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.login-card {
  margin-top: 20%;
  width: 500px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-fields {
  width: 100%;
  height: 100%;
}