app-toolbar {
  box-shadow: var(--mat-sys-level4);
  z-index: 2;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
}

.routed-content {
  z-index: 1;
  margin-top: 72px;
  height: calc(100vh - 72px);
  overflow-y: auto;
}